includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    # Level 10 is the highest level
    level: 7

    paths:
        - app/
        - routes/
        - database/
        - tests/

    excludePaths:
        - storage
        - vendor
        - bootstrap/cache

    ignoreErrors:
        -   
            message: '#Undefined variable: \$this#'
            path: tests/Pest.php

#        - '#PHPDoc tag @var#'